<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--add by Ename Wang 20111115-->
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <!--end add-->
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="2"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="rollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="datePattern" value="yyyy-MM-dd HH:mm:ss"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xA;----------------------header--------------------------&#xA;"></header>
        <footer value="&#xA;----------------------footer--------------------------&#xA;"></footer>
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="DEBUG"/>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="Castle.Facilities.IBatisNetIntegration.AutomaticSessionInterceptor">
      <level value="DEBUG"/>
    </logger>
  </log4net>
  <iBATIS>
    <logging>
      <!--<logFactoryAdapter type="IBatisNet.Common.Logging.Impl.ConsoleOutLoggerFA, IBatisNet.Common">
    <arg key="showLogName" value="true" />
    <arg key="showDataTime" value="true" />
    <arg key="level" value="ALL" />
    <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:SSS" />
   </logFactoryAdapter> -->
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="inline"/>
      </logFactoryAdapter>
    </logging>
  </iBATIS>


  <appSettings>
    <!--测试环境-->
    <add key="SYSTEM_ID" value="PMS"/>
    <!--正式环境-->
    <!--<add key="SYSTEM_ID" value="AIC0IT"/>-->
    <add key="SYSTEM_NAME" value="Project Management System"/>
    <add key="User_Information" value=""/>
    <add key="System_Version" value="V1.0000.00"/>
    <add key="WSC_PageStart" value=""/>
    <add key="WSC_FrameAbout" value="../PMS/Maintain/MyTask.aspx"/>
    <add key="Domain" value=".qcorp.com"/>
    <add key="MoudleSecurity" value=""/>
    <!-- WSC 测试环境 -->
    <!--<add key="wscConnectionString" value="Z2okrmMze5ZI7b2gqGqXa8jsAnR8jf1yPi5fwu0bLgwW5HyjhNMuIXnJScydMe0moDoMKfsAnRbj/HXHxTHltVsojlU6cfwC3OxCSta8c9UCFnU/5QXt0jhLzpZUVh5FzPROYzDKqWeto0KRwKsdmQvY6bBffeXK4naNMt2Lzftd0QX0ionb9Q=="/>-->
    <add key="wscConnectionString" value="Z2okrmMze5ZI7b2gqGqXa8jsAnR8jf1yuNQ2R4us7vD7Ms0GQrCAK/8Q9IAgXCJXYoVloCxoLwCfxYvzU3aMGB4dg+HfmfAVKPgKH3nsPRYeaRELnNhkUt6RuNDHIZ8kacQkOl9/cHep6+kaMo/MuTRpQ4ssBwPlkDrOIYsnn00="/>
    <!--<add key="wscConnectionString" value="Z2okrmMze5a40EZfcwWeIUU5eKSruaKMVfmz8ccsni4Ro6c42a2ohsLLuifJbIMDZZ9Im3CaGqZpTDlWdfjqUBuwyB02yhbzPcYYFJjTyYbJiTF2q/KHThzYQrvE4g0VnHz7xYvxbsdBHidRoMWYh7J1f+t+i/AG3rx5ObBX0Pg="/>-->
    <!-- WSC 真实环境 -->
    <!--<add key="wscConnectionString" value="Z2okrmMze5YgMXq6b64x3UAxbzsilzLsBbkepYMbtnQhCa6DjYsmKyVt1P7FO3RHrkTRZxQhZ/Vy3AjSkQNXPcJdVZggoIzO3Q9ps4+I86RRzFI5Kc1RcSqWmIr8PsTbwkOzdoIJub3/6mYLDe7vg4h04ZUEafBj8xQKAyS0PRc="/>-->
    <!-- Local 测试环境 -->
    <add key="LocalConnectionString" value="User id=aic0_ip;Password=AIC0#1234;Database=auoemp;Server=AIC0-S2\IP;Connect Timeout=50;Max Pool size=200;Min pool Size=5"/>
    <!-- Local 真实环境 -->
    <!--<add key="LocalConnectionString" value="User id=fmsUser;Password=;Database=FMS;Server=PortalTest;Connect Timeout=50;Max Pool size=200;Min pool Size=5"/>-->
    <!--<add key="SessionDSN" value="data source=aic0-s2\ip;initial catalog=FrameWSC;persist security info=False;user id=aic0_ip;password=AIC0#1234;packet size=4096"/>-->
    <add key="PAGE_FADE_OUT_EFFECT_SWTICH" value="true"/>
    <!--test-->
    <!--<add key="RLSWebService" value="http://10.85.10.5/RLNS/ReleaseNoteSystem/RLNSWebService.asmx"/>
    <add key="RLSCreate" value="http://10.85.10.5/RLNS/ReleaseNoteSystem/Create.aspx"/>-->
    <!--real-->
    <add key="RLSWebService" value="http://aic0-s1.qcs.qcorp.com/RLNS/ReleaseNoteSystem/RLNSWebService.asmx"/>
    <add key="RLSCreate" value="http://aic0-s1.qcs.qcorp.com/RLNS/ReleaseNoteSystem/Create.aspx"/>


    <add key="DateFormat" value="yyyy-MM-dd"></add>
    <!--<add key="PMSUrl" value="http://localhost/PMS/"/>-->
    <!--<add key="PMSUrl" value="http://localhost:3367/PMS/Maintain/BasicInformation.aspx?PmsID="/>-->

    <add key="PMSMailForm" value="albee.liu@qisda.com"/>
    <!--mailtemplate path-->
    <!--add by Ename Wang-->
    <!--Template-->
    <add key="CreateMailBodyTemplate" value="\PMS\MailTemplate\CreateMail.htm"/>
    <add key="CreateServiceMailBodyTemplate" value="\PMS\MailTemplate\CreateServiceMail.htm"/>
    <add key="CreateMeetingMinuteMailBodyTemplate" value="\PMS\MailTemplate\CreateMeetingMinuteMail.htm"/>
    <add key="EditMeetingMinuteMailBodyTemplate" value="\PMS\MailTemplate\EditMeetingMinuteMail.htm"/>
    <add key="AssignMemberMailBodyTemplate" value="\PMS\MailTemplate\PESToAssignMemberMail.htm"/>
    <add key="PISAndSTPMailBodyTemplate" value="\PMS\MailTemplate\AssignMemberToPISAndSTPMail.htm"/>
    <add key="DevelopAndTestMailBodyTemplate" value="\PMS\MailTemplate\PISAndSTPToDevelopAndTestMail.htm"/>
    <add key="ReleaseMailBodyTemplate" value="\PMS\MailTemplate\DevelopAndTestToReleaseMail.htm"/>
    <add key="ClosedMailBodyTemplate" value="\PMS\MailTemplate\WaitingCloseToCloseMail.htm"/>
    <add key="HardClosedMailBodyTemplate" value="\PMS\MailTemplate\HardClose.htm"/>
    <add key="PendingMailBodyTemplate" value="\PMS\MailTemplate\Pending.htm"/>
    <add key="CancelledMailBodyTemplate" value="\PMS\MailTemplate\Cancel.htm"/>
    <add key="ReactiveMailBodyTemplate" value="\PMS\MailTemplate\Reactive.htm"/>
    <add key="ConfirmSdpTaskMailBodyTemplate" value="\PMS\MailTemplate\ConfirmSdpTaskMail.htm"/>
    <add key="InformationChangedMailBodyTemplate" value="\PMS\MailTemplate\InformationChangedMail.htm"/>
    <add key="WaitingClosedMailBodyTemplate" value="\PMS\MailTemplate\ReleaseToWaitingClosedMail.htm"/>
    <!--add by Ename Wang on 20140108-->
    <add key="SubmitTaskMailBodyTemplate" value="\PMS\MailTemplate\SubmitTaskMail.htm"/>
    <add key="RecallTaskMailBodyTemplate" value="\PMS\MailTemplate\RecallTaskMail.htm"/>
    <add key="ApproveTaskMailBodyTemplate" value="\PMS\MailTemplate\ApproveTaskMail.htm"/>
    <add key="RejectTaskMailBodyTemplate" value="\PMS\MailTemplate\RejectTaskMail.htm"/>
    <!--end add-->
    <!--Subject-->
    <add key="CreateMailSubject" value="$Type$ has been created By $Creator$"/>
    <add key="AssignMemberMailSubject" value="$Type$ has been promote to AssignMember stage By $Promoter$"/>
    <add key="PISAndSTPMailSubject" value="$Type$ has been promote to PIS|STP stage By $Promoter$"/>
    <add key="DevelopAndTestMailSubject" value="$Type$ has been promote to Develop|Test stage By $Promoter$"/>
    <add key="ReleaseMailSubject" value="$Type$ has been promote to Release stage By $Promoter$"/>
    <add key="ClosedMailSubject" value="$Type$ has been promote to Close stage By $Promoter$"/>
    <add key="HardClosedMailSubject" value="$Type$ has been Hard Closed By $Promoter$"/>
    <add key="PendingMailSubject" value="$Type$ has been Pending By $Promoter$"/>
    <add key="CancelledMailSubject" value="$Type$ has been Cancelled By $Promoter$"/>
    <add key="ReactiveMailSubject" value="$Type$ has been Reactived By $Promoter$"/>
    <add key="ConfirmMailSubject" value="CR’s SDP has been confirm"/>
    <add key="WaitingClosedSubject" value="Service has been promote to WaitingClosed stage  By $Promoter$"/>
    <!--add by Ename Wang on 20140108-->
    <add key="SubmitTaskMailSubject" value="Schedule task has been submitted By $Promoter$"/>
    <add key="RecallTaskMailSubject" value="Schedule task has been recalled By $Promoter$"/>
    <add key="ApproveTaskMailSubject" value="Schedule task has been approved By $Promoter$"/>
    <add key="RejectTaskMailSubject" value="Schedule task has been rejected By $Promoter$"/>
    <!--end add-->
    <!--PMSUrl-->
    <add key="PMSUrl" value="http://localhost/PMS/SysFrame/"/>
    <add key="PMSExternalSystemViewUrl" value="http://localhost/PMS_NEW/PMS/PMS/Maintain/RedirectPage.aspx"/>

    <!--<add key="PMSUrl" value="http://10.85.10.5/PMS_NEW/PMS/Maintain/ProjectsInformation.aspx?PmsID="/>-->
    <!--end add -->
    <!--BugFree BugView PageUrl -->
    <add key="BugViewUrl" value="http://10.85.10.5/bugfree/Bug.php?BugID="/>
    <add key="BugCreateUrl" value="http://10.85.10.5/bugfree/Bug.php?ActionType=OpenBug"/>
    <add key="IssueCreateUrl" value="http://10.85.10.5/issuefree/Issue.php?ActionType=OpenIssue"/>
    <add key="IssueViewUrl" value="http://10.85.10.5/issuefree/Issue.php?IssueID="/>
    <add key="FileType" value=".doc,.docx,.xls,.xlsx,.pdf,.js,.tcl,.xhtml,.rar,.zip,.ppt,.pptx,.bmp,.gif,.ief,.jpeg,.jpg,.jpe,.png,.tiff,.tif,.djvu,.djv,.css,.html,.htm,.asc,.txt,.rtx,.rtf,.sgml,.sgm,.tsv,.wml,.wmls,.etx,.xsl,.xml,.pc,.ini,.cs,.aspx,.java,.asp,.frm,.bas"/>
    <add key="PicTureTye" value=".jpg|.gif|.png|.bmp|.psd|.svg|"/>

    <add key="FileSizeLimit" value="10240"/>
    <!--Add by Ename Wang on 2011129 10:56-->
    <!--Department and Role name-->
    <add key="AIC0" value="SE"/>
    <add key="AIC01" value="QA"/>
    <add key="AI10" value="PM"/>
    <add key="AI20" value="PM"/>
    <add key="AI30" value="PM"/>
    <add key="AI40" value="PM"/>
    <add key="AIC1" value="SD"/>
    <add key="AIC11" value="SD"/>
    <add key="AIC12" value="SD"/>
    <add key="AIC2" value="SE"/>
    <add key="AIC21" value="SE"/>
    <add key="AIC22" value="SE"/>

    <!--File Name-->
    <add key="TempFile" value="TempFile"/>
    <add key="UploadFile" value="UploadFile"/>
    <!--add by Ename Wang on 20130220-->
    <add key="RequirementDataFile" value="RequirementDataFile"/>
    <add key="SSRS_Logon_Method" value="2"/>

    <add key="SSRS_Logon_UserName" value="BOteam"/>
    <add key="SSRS_Logon_Password" value="its*UJ9ik"/>
    <add key="SSRS_Logon_Domain" value="QISDA.qcorp.com"/>

    <add key="SSRS_ReportServer" value="http://10.85.10.3/ReportServer_MSSQLSERVER2008"/>
    <add key="SSRS_ReportPath_Fold" value="/PMS Reporting Service/"/>

  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <!--<customErrors defaultRedirect="SysFrame/Error.aspx?TITLE=Error&amp;ERROR=页面访问发生普通错误！" mode="RemoteOnly">
      <error statusCode="500" redirect="SysFrame/Error.aspx?TITLE=Notice&amp;ERROR=页面访问发生内部错误！"/>
      <error statusCode="403" redirect="SysFrame/Error.aspx?TITLE=SecurityError&amp;ERROR=You may have no access permission to visit this page!"/>
      <error statusCode="404" redirect="SysFrame/Error.aspx?TITLE=Notice&amp;ERROR=ThePage may not exist in the system.要访问的页面不存在！"/>
    </customErrors>-->
    <customErrors mode="Off"/>
    <!--<pages validateRequest="false" enableEventValidation="false">-->
    <pages enableSessionState="true" enableViewState="true" validateRequest="false">
      <controls>
        <!-- Anthem auto registry -->
        <add assembly="Anthem" namespace="Anthem" tagPrefix="anthem"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			  validate="false" />
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler"
			  validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			  validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			  validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
			  validate="false" />
    </httpHandlers>
    <httpModules>
      <!--<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />-->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <!--F5  Refresh Control-->
      <!--<add name="MsdnModule" type="Msdn.RefreshModule,MsdnExt"/>-->
    </httpModules>

    <!--设置上传文件的大小和时长-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>

    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>

  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <PMS.Properties.Settings>
      <setting name="PMS_RLNWebService_RLNSWebService" serializeAs="String">
        <value>http://aic0-s1.qcs.qcorp.com/rlns/rlnswebservice.asmx</value>
      </setting>
    </PMS.Properties.Settings>
  </applicationSettings>

  <!--add by Ename Wang 20111115-->

  <extnet/>
  <!--         The following system.web section is only requited for running ASP.NET AJAX under Internet        Information Services 6.0 (or earlier).  This section is not necessary for IIS 7.0 or later.    -->
  <!--<system.web>
        <httpHandlers>
          <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
        </httpHandlers>
        <httpModules>
          <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
        </httpModules>
      </system.web>-->
  <!--         The system.webServer section is required for running ASP.NET AJAX under Internet Information Services 7.0.        It is not necessary for previous version of IIS.    -->
  <!--end add-->
</configuration>