<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="Configuration/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="MySql"/>
    <!--测试环境-->
    <dataSource name="BugFree" connectionString="Host=10.85.10.1;UserName=bugfree_test;Password=1234;Database=bugfree2_test;Port=3306;CharSet=utf8; Allow Zero Datetime=true"/>
    <!--正式环境-->
    <!--<dataSource name="BugFree" connectionString="Host=10.85.10.1;UserName=bugfree;Password=1234;Database=bugfree2;Port=3306;CharSet=utf8;Allow Zero Datetime=true"/>-->
  </database>

  <sqlMaps>
    <sqlMap embedded="Maps.BfBuginfo.xml, Qisda.PMS.Entity" />
    <sqlMap embedded="Maps.BfIssueinfo.xml, Qisda.PMS.Entity" />
    <sqlMap embedded="Maps.BfResultinfo.xml, Qisda.PMS.Entity" />

  </sqlMaps>
</sqlMapConfig>