<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="Configuration/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <!--Test-->
    <dataSource name="TFS" connectionString="server=aic0-s9\bach; User ID=sa;Password=1234;database=Test;Connection Reset=FALSE;Max Pool Size=1000; Min Pool Size=5"/>

    <!--Real-->
    <!--<dataSource name="TFS" connectionString="server=aic0-s1\aic0; User ID=dba;Password=dba!@#;database=TFS_SSM;Connection Reset=FALSE;Max Pool Size=1000; Min Pool Size=5"/>-->    
  </database>

  <sqlMaps>
    <sqlMap embedded="Maps.TfsTeam.xml, Qisda.PMS.Entity" />
    <sqlMap embedded="Maps.TfsUserList.xml, Qisda.PMS.Entity" />
  </sqlMaps>

</sqlMapConfig>
