<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="Configuration/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <!--Test-->
    <!--<dataSource name="FrameWSC" connectionString="server=aic0-s9\ipcht; User ID=aic0_ip;Password=AIC0#1234;database=FrameWSC_S2;Connection Reset=FALSE;Max Pool Size=1000; Min Pool Size=5"/>-->
    <!--Real-->
    <dataSource name="FrameWSC" connectionString="server=AIC0-S1\AIC0; User ID=AIC0_IP;Password=AIC0#1234;database=PMS;Connection Reset=FALSE;Max Pool Size=1000; Min Pool Size=5"/>
  </database>

	<sqlMaps>
		<sqlMap embedded="Maps.Mail.xml, Qisda.PMS.Entity" />
  </sqlMaps>
	
</sqlMapConfig>
