/*TW*/
.headerFormTitle{font-family: Arial, sans-serif;font-size: 14pt;color: #000000;position: relative;font-weight: bold;text-align: center;}
.headerFormInfo{font-family: Arial, sans-serif;font-size: 9pt;color: #000000;position: relative;font-weight: normal;}

/*Europe*/
/*
.headerFormTitle{font-size:14pt;	height:22px;font-family:Arial;font-weight: bold;}
.headerFormLine{background-color:#cc99cc;height:2px}
.headerFormInfo{font-size:12px;font-family:Arial;height:18px}
.headerFormHelp{font-size:12px;font-family:Arial;color:orange;text-align:right}
*/